<a href="https://colab.research.google.com/github/Sivani2005/ShadowFox/blob/main/ShadowFox_Task(Beginner_Level).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Beginner Level Task

Task 1(1)

In [6]:
pi = 22/7
print(type(pi))

<class 'float'>

Task 1(2)

In [7]:
val_for = 4
print(val_for)

4

Task 1(3)

In [8]:
P = 100
R = 5
T = 2
Simple_Interest = P*R*T/100
print("Simple Interet = ", Simple_Interest)

Simple Interet =  10.0

Task 2(1)

In [10]:
def format(num, char):
    return "{0:{1}}".format(num, char)

result = format(145, 'o')
print(result)


#The representation used here is the octal representation, denoted by the character 'o'. This will convert the number 145 into its octal representation.

221

Task 2(2)

In [11]:
import math
r = 84
pi = 3.14
water_per_square_meter = 1.4

# Area of the pond
area = pi * r ** 2

# Total amount of water in the pond
total_water = area * water_per_square_meter

# Print the result without any decimal point
print(int(total_water))

31018

Task 2(3)

In [12]:
import math

D = 490
T = 7

# Convert time from minutes to seconds
time = T * 60

# Calculate speed in meters per second
speed = D / time

# Print the rounded speed without any decimal point
print(int(speed))

1

Task 3

In [13]:
# Initial Justice League list
justice_league = ["Superman", "Batman", "Wonder Woman", "Flash", "Aquaman", "Green Lantern"]
print("Initial Justice League List:", justice_league)
print()
# 1: Calculate the number of members in the Justice League
members = len(justice_league)
print("Number of Members in the Justice League :", members)
print()

# 2: Batman recruited Batgirl and Nightwing as new members
justice_league.extend(["Batgirl", "Nightwing"])
print("Justice League after adding Batgirl and Nightwing:", justice_league)
print()

# 3: Wonder Woman is now the leader of the Justice League
justice_league.remove("Wonder Woman")
justice_league.insert(0, "Wonder Woman")
print("Justice League after making Wonder Woman the leader:", justice_league)
print()

# 4: Separating Aquaman and Flash
# I choose "Green Lantern" to move between Aquaman and Flash
justice_league.remove("Green Lantern")
justice_league.insert(justice_league.index("Flash") +1, "Green Lantern")
print("Justice League after separating Aquaman and Flash:", justice_league)
print()
# 5: Replace the existing list with a new team assembled by Superman
new_members = ["Cyborg", "Shazam", "Hawkgirl", "Martian Manhunter", "Green Arrow"]
justice_league = new_members
print("Justice League after assembling a new team by Superman:", justice_league)
print()

# 6: Sort the Justice League alphabetically
justice_league.sort()
print("Justice League after sorting alphabetically:", justice_league)
print()

# Predicting the new leader
new_leader = justice_league[0]
print("New Leader of the Justice League:", new_leader)
print()

Initial Justice League List: ['Superman', 'Batman', 'Wonder Woman', 'Flash', 'Aquaman', 'Green Lantern']

Number of Members in the Justice League : 6

Justice League after adding Batgirl and Nightwing: ['Superman', 'Batman', 'Wonder Woman', 'Flash', 'Aquaman', 'Green Lantern', 'Batgirl', 'Nightwing']

Justice League after making Wonder Woman the leader: ['Wonder Woman', 'Superman', 'Batman', 'Flash', 'Aquaman', 'Green Lantern', 'Batgirl', 'Nightwing']

Justice League after separating Aquaman and Flash: ['Wonder Woman', 'Superman', 'Batman', 'Flash', 'Green Lantern', 'Aquaman', 'Batgirl', 'Nightwing']

Justice League after assembling a new team by Superman: ['Cyborg', 'Shazam', 'Hawkgirl', 'Martian Manhunter', 'Green Arrow']

Justice League after sorting alphabetically: ['Cyborg', 'Green Arrow', 'Hawkgirl', 'Martian Manhunter', 'Shazam']

New Leader of the Justice League: Cyborg

Task 4(1)

In [14]:
print("This program is to calculate BMI of an individual.")

height = float(input ("Enter your height in meters :"))
weight = float(input ("Enter your weight in kilograms :"))


BMI = weight / (height ** 2)

if BMI >= 30 :
     print(" Obesity ")


else:
  if 25 < BMI < 29:
        print(" Overweight ")
  else :
      if 18.5 < BMI < 25 :
        print( " Normal ")

      else :
          BMI < 18.5
          print(" Underweight ")

This program is to calculate BMI of an individual.
Enter your height in meters :1.2
Enter your weight in kilograms :76
 Obesity

Task 4(2)

In [15]:
list = {
    "Australia": ["Sydney", "Melbourne", "Brisbane", "Perth"],
    "UAE": ["Dubai", "Abu Dhabi", "Sharjah", "Ajman"],
    "India": ["Mumbai", "Bangalore", "Chennai", "Delhi"]
}

city_name = input("Enter a city name: ")

found = False

for country, cities in list.items():
    if city_name in cities:
        print(f"{city_name} is in {country}")
        found = True
        break

if not found:
    print("City not found in the list.")

Enter a city name: Sydney
Sydney is in Australia

Task 4(3)

In [16]:
list = {
    "Australia": ["Sydney", "Melbourne", "Brisbane", "Perth"],
    "UAE": ["Dubai", "Abu Dhabi", "Sharjah", "Ajman"],
    "India": ["Mumbai", "Bangalore", "Chennai", "Delhi"]
}

City1= input("Enter the first city : ")
City2 = input("Enter the second city : ")

similarity = False

for country, cities in list.items():
    if City1 in cities and City2 in cities:
        print(f"{City1} and {City2} both belong to {country}")
        similarity = True
        break

if not similarity:
    print("The two cities do not belong to the same country.")

Enter the first city : Brisbane
Enter the second city : Sharjah
The two cities do not belong to the same country.

Task 5(1)

In [17]:
import random

num_rolls = 90
rolls = [random.randint(1, 6) for _ in range(num_rolls)]
count_6 = 0
count_1 = 0
count_two_6 = 0

for i in range(num_rolls):
    if rolls[i] == 6:
        count_6 += 1
        if i > 0 and rolls[i-1] == 6:
            count_two_6+= 1
    elif rolls[i] == 1:
        count_1 += 1

# Print statistics
print("Number of times rolled a 6:", count_6)
print("Number of times rolled a 1:", count_1)
print("Number of times rolled two 6s in a row:", count_two_6)

Number of times rolled a 6: 15
Number of times rolled a 1: 23
Number of times rolled two 6s in a row: 1

Task 5(2)

In [18]:
total = 100
remaining = total
s = 10

while remaining > 0:
    if remaining >= s:
        print(f"You have {remaining} jumping jacks remaining.")
        tired_response = input("Are you tired? (yes/no): ").lower()
        if tired_response == "yes" or tired_response == "y":
            skip_response = input("Do you want to skip the remaining sets? (yes/no): ").lower()
            if skip_response == "yes" or skip_response == "y":
                print(f"You completed a total of {total - remaining} jumping jacks.")
                break
        else:
            remaining -= s
    else:
        print(f"You have {remaining} jumping jacks remaining.")
        tired_response = input("Are you tired? (yes/no): ").lower()
        if tired_response == "yes" or tired_response == "y":
            print(f"You completed a total of {total_- remaining} jumping jacks.")
            break
        else:
            remaining = 0

if remaining == 0:
    print("Congratulations! You completed the workout.")

You have 100 jumping jacks remaining.
Are you tired? (yes/no): no
You have 90 jumping jacks remaining.
Are you tired? (yes/no): yes
Do you want to skip the remaining sets? (yes/no): yes
You completed a total of 10 jumping jacks.

Task 6(1)

In [19]:
names = ['Shivani', 'Janani', 'Sarthak', 'Anjani', 'Deepak', 'Subbu', 'Samyuktha', 'Arjun']
lengths = [(name, len(name)) for name in names]

for tuple in lengths:
    print(tuple)

('Shivani', 7)
('Janani', 6)
('Sarthak', 7)
('Anjani', 6)
('Deepak', 6)
('Subbu', 5)
('Samyuktha', 9)
('Arjun', 5)

Task 6(2)

In [20]:
your_expenses = {
    "Hotel": 4000,
    "Food": 2100,
    "Transportation": 900,
    "Attractions": 300,
    "Miscellaneous": 200
}


partner_expenses = {
    "Hotel": 3000,
    "Food": 1900,
    "Transportation": 400,
    "Attractions": 1400,
    "Miscellaneous": 1050
}


your_total_expenses = sum(your_expenses.values())
partner_total_expenses = sum(partner_expenses.values())

print("Your total expenses:", your_total_expenses)
print("Partner's total expenses:", partner_total_expenses)

if your_total_expenses > partner_total_expenses:
    print("You spent more money overall.")
elif partner_total_expenses > your_total_expenses:
    print("Your partner spent more money overall.")
else:
    print("You and your partner spent the same amount overall.")

significant_difference = max(your_expenses, key=lambda x: abs(your_expenses[x] - partner_expenses[x]))
difference = abs(your_expenses[significant_difference] - partner_expenses[significant_difference])

print("Expense category with significant difference:", significant_difference)
print("Difference:", difference)

Your total expenses: 7500
Partner's total expenses: 7750
Your partner spent more money overall.
Expense category with significant difference: Attractions
Difference: 1100

Task 7

In [21]:
class Avenger:
    def __init__(self, name, age, gender, super_power, weapon):
        self.name = name
        self.age = age
        self.gender = gender
        self.super_power = super_power
        self.weapon = weapon

    def info(self):
        return f"Name: {self.name}, Age: {self.age}, Gender: {self.gender}, Super Power: {self.super_power}, Weapon: {self.weapon}"

    def leader(self):
        return self.name in ["Captain America", "Iron Man", "Black Widow"]

super_heroes = {
    "Captain America": ("Super Strength", "Shield"),
    "Iron Man": ("Technology", "Armor"),
    "Black Widow": ("Superhuman", "Batons"),
    "Hulk": ("Unlimited Strength", "No Weapon"),
    "Thor": ("Super Energy", "Mjölnir"),
    "Hawkeye": ("Fighting Skills", "Bow and Arrows")
}

avengers = []
for name, (super_power, weapon) in super_heroes.items():
    if name == "Captain America":
        avengers.append(Avenger(name, 100, "Male", super_power, weapon))
    elif name == "Iron Man":
        avengers.append(Avenger(name, 45, "Male", super_power, weapon))
    elif name == "Black Widow":
        avengers.append(Avenger(name, 35, "Female", super_power, weapon))
    elif name == "Hulk":
        avengers.append(Avenger(name, "Unknown", "Male", super_power, weapon))
    elif name == "Thor":
        avengers.append(Avenger(name, "Unknown", "Male", super_power, weapon))
    elif name == "Hawkeye":
        avengers.append(Avenger(name, 40, "Male", super_power, weapon))

for avenger in avengers:
    print(avenger.info())
    print("Is leader:", avenger.leader())
    print()

Name: Captain America, Age: 100, Gender: Male, Super Power: Super Strength, Weapon: Shield
Is leader: True

Name: Iron Man, Age: 45, Gender: Male, Super Power: Technology, Weapon: Armor
Is leader: True

Name: Black Widow, Age: 35, Gender: Female, Super Power: Superhuman, Weapon: Batons
Is leader: True

Name: Hulk, Age: Unknown, Gender: Male, Super Power: Unlimited Strength, Weapon: No Weapon
Is leader: False

Name: Thor, Age: Unknown, Gender: Male, Super Power: Super Energy, Weapon: Mjölnir
Is leader: False

Name: Hawkeye, Age: 40, Gender: Male, Super Power: Fighting Skills, Weapon: Bow and Arrows
Is leader: False